---
layout: default
prism: true
---

<div class="container px-5 mt-16 rounded-lg space-mono">
  <div class="max-w-6xl mx-auto">
    <a
      href="/blog"
      class="p-3 mb-8 font-medium border-2 border-black rounded hover:bg-green-100"
      >☚ Click Here to Go Back A Page</a
    >
  </div>
  <div
    class="max-w-6xl mx-auto mb-16 bg-gray-100 bg-no-repeat bg-cover md:pt-16 md:px-16 md:pb-16 md:mt-10 rounded-2xl bg-opacity-10"
    style="
      background-image: url('https://source.unsplash.com/aL7SA1ASVdQ/800x600');
    "
  >
    <div
      class="w-auto p-5 mx-12 text-gray-100 border-4 border-gray-100 shadow-2xl bg-gradient-to-br from-gray-800 to-black rounded-2xl"
    >
      <div class="mb-6 text-center">
        <span class="text-base font-semibold text-white md:text-lg">
          <a
            class="px-3 py-1 font-semibold underline rounded-sm hover:bg-interplanetaryyellow-100 hover:text-gray-900"
            href="#"
            >doi:<em>{{articledoi}}</em></a
          >
          <span class="mx-2 font-bold"> · </span>
          <a
            class="px-3 py-1 font-semibold underline rounded-sm hover:bg-interplanetaryyellow-100 hover:text-gray-900"
          >
            PDF Version
          </a>
        </span>
        <h1
          class="mx-auto my-4 text-3xl font-bold space-mono md:text-6xl font-heading"
        >
          {{title}}
        </h1>
      </div>
      <div class="flex justify-center">
        <div class="pr-4 font-semibold text-right">
          <p class="text-xs text-gray-300">Published</p>
          <p class="mb-1 text-white">{{ date | readableDate }}</p>
        </div>
        <img
          class="object-cover w-12 h-12 rounded-full"
          src="https://pbs.twimg.com/profile_images/1246173735012335617/iLwIMvfH_400x400.jpg"
          alt=""
        />
        <div class="pl-4 font-semibold text-left">
          <p class="text-xs text-gray-300">Author</p>
          <p class="mb-1 text-white">{{ author }}</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="">
      <article class="mx-auto my-4 prose text-gray-900 custom-sans lg:prose-lg">
        {{ content | safe }}
      </article>
    </div>
  </div>
</div>
