---
layout: default
prism: true
---

<div class="container px-5 mt-20">
  <div
    class="max-w-5xl pt-20 pb-16 mx-auto mb-12 bg-gray-100 bg-no-repeat bg-cover rounded-2xl bg-opacity-10"
    style="background-image: url('https://source.unsplash.com/random/800x600')"
  >
    <div
      class="max-w-4xl p-5 mx-auto text-white border-4 border-solid bg-gradient-to-tr from-interplanetaryblue-700 to-interplanetaryblue-500 border-interplanetaryyellow-200 rounded-xl"
    >
      <div class="mb-6 text-center">
        <span class="text-base font-semibold md:text-lg">
          <a
            class="px-3 py-1 font-semibold underline rounded-sm hover:bg-interplanetaryyellow-300 hover:text-gray-900"
            href="#"
            >doi:<em>10.36152/ipub.2001b10</em></a
          >
          <span class="mx-2 font-bold"> · </span>
          <a
            class="px-3 py-1 font-semibold underline rounded-sm hover:bg-interplanetaryyellow-300 hover:text-gray-900"
          >
            PDF Version
          </a>
        </span>
        <h2
          class="w-auto my-4 text-6xl font-bold space-mono md:text-5xl font-heading"
        >
          {{title}}
        </h2>
      </div>
      <div class="flex justify-center">
        <div class="pr-4 font-semibold text-right">
          <p class="text-xs text-gray-200">Published</p>
          <p class="mb-1 text-gray-100">{{ date | readableDate }}</p>
        </div>
        <img
          class="object-cover w-12 h-12 rounded-full"
          src="https://pbs.twimg.com/profile_images/1246173735012335617/iLwIMvfH_400x400.jpg"
          alt=""
        />
        <div class="pl-4 font-semibold text-left">
          <p class="text-xs text-gray-200">Author</p>
          <p class="mb-1 text-gray-100">{{ author }}</p>
        </div>
      </div>
    </div>
  </div>
  <article class="mx-auto my-4 prose text-gray-900 fira-sans lg:prose-xl">
    {{ content | safe }}
  </article>
</div>
