@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply mb-3 text-4xl tracking-tighter text-center lg:text-7xl;
}

h3 {
  @apply mb-3 text-2xl font-bold;
}

.button-main {
  @apply px-4 py-2 font-semibold text-black transition duration-100 transform bg-transparent border-4 border-black rounded-sm shadow-md hover:text-white focus:outline-black hover:bg-gray-900 hover:shadow-none hover:shadow-inner;
}

.homepage-links {
  @apply underline bg-transparent rounded-sm md:py-1 from-transparent to-transparent bg-gradient-to-l hover:to-amber-300 hover:via-lime-300 hover:from-interplanetaryblue-100 hover:text-gray-900;
}

.homepage-headers {
  @apply mt-5 text-xl font-semibold md:text-4xl space-mono;
}

/* BOXES */

.box-one-third {
  @apply w-full bg-transparent border-4 border-black rounded shadow-lg md:w-1/3;
}

.box-one-half {
  @apply w-full bg-transparent border-4 border-black rounded shadow-lg md:w-1/2;
}

.box-header {
  @apply py-1 pl-2 text-xl font-semibold text-black border-b-4 border-black;
}

/* FONTS */

.space-mono {
  font-family: "Space Mono", "Courier New", Courier, monospace;
}

.custom-sans {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

.custom-serif {
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
