<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ $sitetitle := .Site.Title }} {{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $sitetitle }}"
    />
    {{ end }} {{ partial "head_includes.html" . }}
  </head>
  <body
    lang="{{ .Site.LanguageCode }}"
    class="w-90 w-60-ns center work-sans white"
    style="background: linear-gradient(to top right, #0f0c29, #1e3c72)"
  >
    {{ partial "head.html" . }}

    <section id="main">
      <div class="center f5 mv3">
        <h1 class="tc f2 f1-ns nt1 justify-center">
          <span class="f3">welcome to the <br /></span>
          <span class="space-mono"
            ><strong>Interplanetary Publishing Protocol</strong></span
          >
        </h1>

        <div class="tc pb2">
          <img
            src="assets/telescope.svg"
            style="
              height: 2.8em;
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
            "
          />
          <!--
        <img
          src="assets/space-18.svg"
          style="
            height: 2.7em;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          "
        />
        <img src="assets/space-17.svg" style="height: 2.5em" />
        -->
          <img
            src="assets/flying-saucer.svg"
            class="mh4"
            style="height: 2.4em"
          />
          <img src="assets/rover.svg" style="height: 2.4em" />
        </div>

        <nav class="tc ns-flex mb4">
          <a href="/post"
            ><button
              class="f5 link ba bw2 ph3 pv2 mb2 dib white b--white bg-black-10 shadow-hover bg-animate grow hover-bg-blue hover-white"
            >
              <strong>ARTICLES</strong>
            </button></a
          >
          <a href="/post"
            ><button
              class="f5 link ba bw2 ph3 pv2 mh2 mb2 dib white b--white bg-black-10 shadow-hover bg-animate grow hover-bg-red hover-white"
            >
              <strong>CODE</strong>
            </button></a
          >
          <a href="/post"
            ><button
              class="f5 link ba bw2 ph3 pv2 mb2 dib white b--white bg-black-10 shadow-hover bg-animate grow hover-bg-green hover-white"
            >
              <strong>DIAGRAMS</strong>
            </button></a
          >
        </nav>

        <h2 class="f4 normal tj">
          The Interplanetary Publishing Protocol (IPP) is a way for academics
          and scientists to self-publish their research to a decentralized and
          redundant global filesystem, using existing infrastructure.
        </h2>

        <!--
      <p class="sans-serif">
        The structure of this network therefore represents the tree of science.
        People are the roots, who take in information (nutrients) from the outside
        world, and transform that raw information into the fruits of knowledge,
        which blossom at the top of the tree Science has not moved into the internet
        era. One of the biggest milestones of Web 3.0 will be the digitization,
        internationalization, and decentralization of science.
      </p>
    -->

        <div class="f6 yellow bg-yellow mt4 pv1 tc w-50-l br4"></div>

        <h3 class="f3 space-mono">Recommended Reading</h3>
        <ul class="f4 normal">
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >The Advent of Knowledge Economies</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >A Base Infrastructure Layer for Research</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >Solving the PID Problem</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >Use Universities as Data Storage Devices</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >Cryptographically-Secured Peer Review</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >Designing for Dirty Data</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >Self-Healing Social Networks</a
            >
          </li>
          <li class="pb2">
            <a
              href="/post/xyz"
              class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
              >The Tree of Knowledge Creation</a
            >
          </li>
        </ul>

        <div class="f6 yellow bg-yellow mt2 pv1 tc w-50-l br-pill"></div>
        <h3 class="f3 space-mono">Find Us Elsewhere</h3>
        <p class="f4">
          <a
            href="https://github.com/interplanetarypub"
            class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
            >Github Repository</a
          >
          ⸱
          <a
            href="https://twitter.com/interplanetarypub"
            class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
            >Twitter</a
          >
        </p>

        <h3 class="f3 space-mono">Related</h3>
        <p class="f4">
          <a
            href="https://liras.org"
            class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
            >LIRAS</a
          >
        </p>

        <h3 class="f3 space-mono">Supporters</h3>
        <p class="f4">
          Founded and funded by:
          <a
            href="https://assembl.net"
            class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
            >Assembl Inc.</a
          >
        </p>
        <div class="f6 yellow bg-yellow mt4 pv1 tc w-50-l br-pill"></div>

        <h3 class="f3 space-mono">Contact Us</h3>
        <p class="f4">
          <a
            class="underline washed-blue hover-navy hover-bg-yellow link--class--recommended--reading"
            href="mailto:starship@interplanetary.pub"
            >starship@interplanetary.pub</a
          >
        </p>

        <h3 class="f3 space-mono">Mailing List</h3>
        <form>
          <input name="email" type="email" /><input
            name="submit"
            type="submit"
            placeholder="tex"
          />
        </form>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
