---
layout: default
pagetitle: IntPub | Welcome to the Interplanetary Publishing Protocol
description: The Interplanetary Publishing Protocol (IntPub) is a tool researchers, academics, and scientists can use to self-publish their works on uncensorable & decentralized networks.
path: home
---

<div
  class="w-full px-4 mx-auto text-black space-mono md:px-0 md:w-11/12 center max-w-7xl"
>
  <p
    class="mt-6 text-lg font-semibold leading-5 tracking-wider uppercase space-mono md:text-center md:mb-4 md:text-2xl"
  >
    Plug into a global scientific network with the</p>
  </p>
  <h1
    class="text-4xl font-semibold leading-tight tracking-tighter text-left md:text-center md:text-4xl lg:text-6xl space-mono"
  >
    <span class="text-black">Intplanetary
    <span class="text-black">Pub</span>lishing Protocol
  </h1>

  <div class="hidden mt-12 text-center md:block">
    <img
      src="./static/img/telescope.svg"
      style="height: 4em; -webkit-transform: scaleX(-1); transform: scaleX(-1)"
      class="inline"
      alt="An image of a telescope"
    />

    <img
      src="./static/img/flying-saucer.svg"
      class="inline px-8 mx-16"
      style="height: 3.3em"
      alt="An image of a flying saucer"
    />
    <img
      src="./static/img/rover.svg"
      class="inline"
      style="height: 3.3em"
      alt="An image of a planetary surface exploration rover"
    />
  </div>

  <nav
    class="mx-auto mt-5 mb-10 space-y-4 font-normal text-md md:text-lg md:text-center"
  >
    <form>
      <button class="button-main shadow-offset-black" formaction="/blog">
        {% include "./_includes/svgs/articles.svg" %}
        <strong>ARTICLES</strong>
      </button>
      <button
        class="my-3 button-main md:mx-2 md:my-0"
        formaction="https://github.com/intpub"
        formtarget="_blank"
      >
        {% include "./_includes/svgs/github.svg" %}
        <strong>CODE</strong>
      </button>
      <button class="button-main" formaction="https://lucidchart.com">
        {% include "./_includes/svgs/diagrams.svg" %}
        <strong>DIAGRAMS</strong>
      </button>
    </form>
  </nav>

  <div class="space-y-3 border-double md:border-4 md:border-black md:flex md:space-y-0">
    <div class="md:border-r-2 md:border-black box-one-third bg-gradient-to-br from-orange-50 to-lime-50">
      <!--  bg-gradient-to-r from-orange-100 via-yellow-100 to-lime-100 -->
      <div
        class="uppercase border-b-2 border-black box-header bg-gradient-to-r from-orange-100 via-yellow-100 to-lime-100"
      >
        <!-- bg-gradient-to-r from-orange-200 via-yellow-200 to-lime-200 -->
        <h3 class="pt-1 pl-1">What We're Building</h3>
      </div>
      <div class="px-3 py-2">
        <p class="text-xl tracking-tight custom-sans">
          IntPub is a tool that enables researchers, academics, and scientists
          to self-publish their works via an uncensorable and decentralized
          global filesystem.
        </p>
        <p class="pt-2 text-lg font-semibold custom-sans">
          <span class="border-b-2 border-gray-800">Read more -></span>
        </p>
      </div>
    </div>
    <div class="md:border-r-2 md:border-black box-one-third bg-gradient-to-tr from-lime-50 to-cyan-50">
      <!-- bg-gradient-to-r from-lime-100 via-emerald-100 to-teal-100 -->
      <div
        class="uppercase border-b-2 border-black box-header bg-gradient-to-r from-lime-100 via-emerald-100 to-teal-100"
      >
        <!--  bg-gradient-to-r from-lime-200 via-emerald-200 to-teal-200 -->
        <h3 class="pt-1 pl-1">Our Mission</h3>
      </div>
      <div class="px-3 py-2">
        <p class="text-xl tracking-tight custom-sans">
          IntPub's mission is to make scientific publishing accessible to all,
          and to make scientific knowledge free to access. We strongly believe
          that the rights to explore, research and publish are fundamental.
        </p>
        <p class="pt-2 text-lg font-semibold custom-sans">
          <span class="border-b-2 border-gray-800">Read more -></span>
        </p>
      </div>
    </div>
    <div class="box-one-third bg-gradient-to-br from-cyan-50 to-lightblue-50">
      <!-- from-teal-100 via-lightblue-200 to-interplanetaryblue-50 -->
      <div
        class="uppercase border-b-2 border-black box-header bg-gradient-to-r from-teal-100 via-lightblue-200 to-interplanetaryblue-50"
      >
        <!-- bg-gradient-to-r from-teal-200 via-lightblue-300 to-interplanetaryblue-100 -->
        <h3 class="pt-1 pl-1">Our Vision</h3>
      </div>
      <div class="px-3 py-2">
        <p class="text-xl tracking-tight custom-sans">
          We envision a future where the pipeline of science is transparent from
          idea through to publication. We believe establishing IntPub as the
          base infrastructure layer for science will make this possible.
        </p>
        <p class="pt-2 text-lg font-semibold custom-sans">
          <span class="border-b-2 border-gray-800">Read more -></span>
        </p>
      </div>
    </div>
  </div>

  {% include "./_includes/partials/homepagebarrierdivleft.html" %}

  <h2 class="mb-8 homepage-headers">More Reading</h2>

  <div
    class="grid w-full grid-cols-1 space-y-4 md:space-y-0 md:gap-4 md:grid-cols-2"
  >
    <div class="p-6 text-black bg-gray-100 border-4 border-black border-double">
      <div class="pb-2 border-b-2 border-black">
        <h3 class="text-xl font-medium uppercase">
          <a
            class="underline"
            href="https://www.theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science"
            target="_blank"
            >Is the staggeringly profitable business of scientific publishing
            bad for science?</a
          >
          {% include "./_includes/partials/svgicon-external-link.html" %}
        </h3>
        <p class="italic">Stephen Buranyi for The Guardian</p>
      </div>
      <div class="pt-2 custom-sans">
        <p>sdflkjasdf</p>
      </div>
    </div>

    <div class="p-6 border-2 border-black">
      <div class="pb-2 border-b-2 border-black">
        <h3 class="text-xl font-medium uppercase">
          <a
            class="underline"
            href="https://www.theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science"
            target="_blank"
            >Is the staggeringly profitable business of scientific publishing
            bad for science?</a
          >
          {% include "./_includes/partials/svgicon-external-link.html" %}
        </h3>
        <p class="italic">Stephen Buranyi for The Guardian</p>
      </div>
      <div class="pt-2 custom-sans">
        <p>sdflkjasdf</p>
      </div>
    </div>

    <div class="p-6 border-2 border-black">
      <div class="pb-2 border-b-2 border-black">
        <h3 class="text-xl font-medium uppercase">
          <a
            class="underline"
            href="https://www.theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science"
            target="_blank"
            >Is the staggeringly profitable business of scientific publishing
            bad for science?</a
          >
          {% include "./_includes/partials/svgicon-external-link.html" %}
        </h3>
        <p class="italic">Stephen Buranyi for The Guardian</p>
      </div>
      <div class="pt-2 custom-sans">
        <p>sdflkjasdf</p>
      </div>
    </div>

    <div class="p-6 text-black bg-gray-100 border-4 border-black border-double">
      <div class="pb-2 border-b-2 border-black">
        <h3 class="text-xl font-medium uppercase">
          <a
            class="underline"
            href="https://www.theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science"
            target="_blank"
            >Is the staggeringly profitable business of scientific publishing
            bad for science?</a
          >
          {% include "./_includes/partials/svgicon-external-link.html" %}
        </h3>
        <p class="italic">Stephen Buranyi for The Guardian</p>
      </div>
      <div class="pt-2 custom-sans">
        <p>sdflkjasdf</p>
      </div>
    </div>
  </div>

  {% include "./_includes/partials/homepagebarrierdivright.html" %}

  <h2 class="mb-8 homepage-headers">Contact Us</h2>
</div>
