---
layout: default
pagetitle: IntPub | Welcome to the Interplanetary Publishing Protocol
description: The Interplanetary Publishing Protocol (IntPub) is a tool researchers, academics, and scientists can use to self-publish their works on uncensorable & decentralized networks.
path: home
---

<div
  class="w-full px-4 mx-auto text-black space-mono md:px-0 md:w-11/12 center"
>
  <p
    class="mt-12 text-lg font-semibold leading-5 tracking-wider uppercase space-mono md:text-center md:mb-4 md:text-2xl"
  >
    Plug into a global scientific network with the<br />
  </p>
  <h1
    class="text-4xl font-bold leading-tight text-left md:text-center md:text-4xl lg:text-6xl space-mono"
  >
    <span class="">
      <span class="text-black">Int</span>er<span class="md:hidden">P</span
      ><span class="hidden md:inline">p</span>lanetary
      <span class="text-black">Pub</span>lishing Protocol
    </span>
  </h1>

  <div class="hidden mt-12 text-center md:block">
    <img
      src="./static/img/telescope.svg"
      style="height: 4em; -webkit-transform: scaleX(-1); transform: scaleX(-1)"
      class="inline"
    />

    <img
      src="./static/img/flying-saucer.svg"
      class="inline px-8 mx-16"
      style="height: 3.3em"
    />
    <img src="./static/img/rover.svg" class="inline" style="height: 3.3em" />
  </div>

  <nav
    class="mx-auto mt-5 mb-10 space-y-4 font-normal text-md md:text-lg md:text-center"
  >
    <form>
      <button class="button-main shadow-offset-black" formaction="/blog">
        {% include "./_includes/svgs/articles.svg" %}
        <strong>ARTICLES</strong>
      </button>
      <button
        class="my-3 button-main md:mx-2 md:my-0"
        formaction="https://github.com/intpub"
        formtarget="_blank"
      >
        {% include "./_includes/svgs/github.svg" %}
        <strong>CODE</strong>
      </button>
      <button class="button-main" formaction="https://lucidchart.com">
        {% include "./_includes/svgs/diagrams.svg" %}
        <strong>DIAGRAMS</strong>
      </button>
    </form>
  </nav>

  <h2 class="mb-3 homepage-headers">About IntPub</h2>

  <div class="space-y-3 md:flex md:space-y-0 md:space-x-6">
    <div class="box-one-third">
      <div
        class="uppercase border-b-2 border-black rounded-t-xl box-header bg-gradient-to-r from-yellow-200 to-lime-200"
      >
        <p class="pt-1 pl-1">What We're Building</p>
      </div>
      <p class="px-3 py-2 text-xl tracking-tight custom-sans">
        IntPub is a tool for researchers, academics, and scientists to
        self-publish their works on uncensorable & decentralized networks. The
        protocol is a a scholarship-oriented bridge between existing technology.
      </p>
    </div>
    <div class="box-one-third">
      <div
        class="uppercase border-b-2 border-black rounded-t-xl box-header bg-gradient-to-r from-lime-200 to-teal-200"
      >
        <p class="pt-1 pl-1">Our Mission</p>
      </div>
      <p class="px-3 py-2 text-xl tracking-tight custom-sans">
        IntPub's mission is to make scientific publishing accessible to all, and
        to make scientific knowledge free to access. We strongly believe that
        the rights to explore, research and publish are fundamental.
      </p>
    </div>
    <div class="box-one-third">
      <div
        class="uppercase border-b-2 border-black rounded-t-xl box-header bg-gradient-to-r from-teal-200 to-interplanetaryblue-50"
      >
        <p class="pt-1 pl-1">Our Vision</p>
      </div>
      <p class="px-3 py-2 text-xl tracking-tight custom-sans">
        We envision a future where the pipeline of science is transparent from
        idea through to publication. We believe establishing IntPub as the base
        infrastructure layer for science will make this possible.
      </p>
    </div>
  </div>

  <!--
  {% include "./_includes/partials/homepagebarrierdiv.html" %}

  <h2 class="homepage-headers">Recommended Reading (In Order)</h2>
  <ol
    class="ml-8 space-y-1 font-normal list-decimal text-md md:text-xl md:list-inside"
  >
    <li>
      <a href="./post/xyz" class="homepage-links"
        >The Tree of Knowledge Creation</a
      >
    </li>
    <li>
      <a href="./post/xyz" class="homepage-links"
        >A Base Infrastructure Layer for Research</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links">Designing for Dirty Data</a>
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links">Solving the PID Problem</a>
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Use Universities as Data Storage Devices</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Cryptographically-Secured Peer Review</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Geographically-Distributed Studies</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Self-Healing Social Networks</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >The Advent of Knowledge Economies</a
      >
    </li>
  </ol>
-->
  {% include "./_includes/partials/homepagebarrierdiv.html" %}

  <h2 class="mb-3 homepage-headers">About the Organization</h2>

  <div class="space-y-3 md:space-y-0 md:space-x-6 md:flex">
    <div class="box-one-third">
      <div
        class="uppercase border-b-2 border-black rounded-t-xl box-header bg-gradient-to-r from-cyan-100 to-cyan-200"
      >
        <p class="pt-1 pl-1">Find us elsewhere</p>
      </div>
      <ul class="p-2 ml-8 space-y-2 list-disc text-md md:text-xl custom-sans">
        <li class="">
          <a href="https://github.com/intpub" class="homepage-links"
            >Github Repository</a
          >
        </li>
        <li>
          <a href="https://twitter.com/galacticpub" class="homepage-links"
            >Twitter</a
          >
        </li>
        <li>Seize the means of publication!</li>
      </ul>
    </div>

    <div class="box-one-third">
      <div
        class="uppercase border-b-2 border-black rounded-t-xl box-header bg-gradient-to-r from-emerald-100 to-emerald-200"
      >
        <p class="pt-1 pl-1">Affiliated Projects</p>
      </div>
      <ul class="px-2 py-2 ml-8 space-y-1 text-md md:text-xl custom-sans">
        <li class="list-disc">
          <a href="https://liras.org" class="homepage-links"
            >LIRAS — The Licensing Initiative for Research, Academia, and
            Science</a
          >
        </li>
        <li class="list-disc">
          <a href="https://torchofknowledge.org" class="homepage-links"
            >The Torch of Knowledge Podcast</a
          >
        </li>
      </ul>
    </div>

    <div class="box-one-third">
      <div
        class="uppercase border-b-2 border-black rounded-t-xl box-header bg-gradient-to-r from-yellow-100 to-yellow-200"
      >
        <p class="pt-1 pl-1">Supporters</p>
      </div>
      <ul
        class="px-2 py-2 ml-8 space-y-1 list-disc text-md md:text-xl custom-sans"
      >
        <li>
          Founded by
          <a href="https://assembl.net" class="homepage-links">Assembl Inc.</a>
        </li>
        <li>
          <strong
            >Assembl was funded in 2019 by leading blockchain incubator&nbsp;<a
              href="https://cvvc.com"
              class="homepage-links"
              >CV VC</a
            >. Visit their website to get your startup funded!
          </strong>
        </li>
      </ul>
    </div>
  </div>

  {% include "./_includes/partials/homepagebarrierdiv.html" %}

  <h2 class="mb-3 homepage-headers">Stay In Touch</h2>

  <div class="space-y-3 md:space-y-0 md:space-x-6 md:flex">
    <div class="box-one-half">
      <div class="box-header">CONTACT US</div>
      <ul class="px-2 py-2 ml-8 space-y-1 list-disc text-md md:text-xl">
        <li>
          Email:
          <a class="homepage-links" href="mailto:starship@interplanetary.pub"
            >starship@interplanetary.pub</a
          >
        </li>
        <li>
          Phone:
          <a class="homepage-links" href="tel:13074594590">+1 (307) 459-4590</a>
        </li>
      </ul>
    </div>
    <div class="box-one-half">
      <div class="box-header">MAILING LIST</div>
      <form class="px-2 py-2 my-auto space-y-2 list-disc text-md md:text-xl">
        <label class="text-md md:text-lg"
          >Please sign up for our mailing list! We'll never send you any spam
          (promise).</label
        >
        <input
          class="px-2 py-1 text-gray-900 border border-black rounded"
          placeholder="alice@stanford.edu"
        />
        <button
          class="px-2 py-1 mt-3 text-gray-900 border border-black rounded bg-gray-50 md:ml-2"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
