---
layout: default
pagetitle: IntPub | Welcome to the Interplanetary Publishing Protocol 
description: The Interplanetary Publishing Protocol (IntPub) is a tool researchers, academics, and scientists can use to self-publish their works on uncensorable & decentralized networks.
path: home
---

<div
  class="w-full px-4 mx-auto text-black custom-sans md:px-0 md:w-11/12 center"
>
  <p
    class="mt-12 text-sm font-semibold leading-5 tracking-wider uppercase custom-sans md:text-center md:mb-4 md:text-xl"
  >
    Plug into a global scientific network with the<br />
  </p>
  <h1
    class="font-bold text-left md:text-center md:text-4xl lg:text-6xl space-mono"
  >
    Interplanetary Publishing Protocol
  </h1>

  <div class="hidden mt-12 text-center md:block">
    <img
      src="./static/img/telescope.svg"
      style="
        height: 3.5em;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      "
      class="inline"
    />

    <img
      src="./static/img/flying-saucer.svg"
      class="inline mx-20"
      style="height: 2.9em"
    />
    <img src="./static/img/rover.svg" class="inline" style="height: 3em" />
  </div>

  <nav
    class="mx-auto mt-5 mb-10 space-y-4 font-sans font-normal text-md md:text-lg md:text-center"
  >
    <form>
      <button class="button-main" formaction="/blog">
        {% include "./_includes/svgs/articles.svg" %}
        <strong>ARTICLES</strong>
      </button>
      <button
        class="my-3 button-main md:mx-2 md:my-0"
        formaction="https://github.com/intpub"
        formtarget="_blank"
      >
        {% include "./_includes/svgs/github.svg" %}
        <strong>CODE</strong>
      </button>
      <button class="button-main" formaction="https://lucidchart.com">
        {% include "./_includes/svgs/diagrams.svg" %}
        <strong>DIAGRAMS</strong>
      </button>
    </form>
  </nav>

  <h2 class="mb-3 homepage-headers">About IntPub</h2>

  <div class="space-y-3 md:flex md:space-y-0 md:space-x-6">
    <div class="box-one-third">
      <div class="box-header bg-gradient-to-r from-amber-300 to-lime-300">
        WHAT WE'RE BUILDING
      </div>
      <p class="px-2 py-1 text-xl">
        IntPub is a tool researchers, academics, and scientists can use to
        self-publish their works on uncensorable & decentralized networks. The
        protocol is a a scholarship-oriented bridge between existing
        technologies.
      </p>
    </div>
    <div class="box-one-third">
      <div class="box-header bg-gradient-to-r from-lime-300 to-teal-300">
        OUR MISSION
      </div>
      <p class="px-2 py-1 text-xl">
        IntPub's mission is to make scientific publishing accessible to all, and
        to make scientific knowledge free to access. We believe that the rights
        to exploration, research, and publication are fundamental.
      </p>
    </div>
    <div class="box-one-third">
      <div
        class="box-header bg-gradient-to-r from-teal-300 to-interplanetaryblue-200"
      >
        OUR VISION
      </div>
      <p class="px-2 py-1 text-xl">
        We envision a future where the pipeline of science is transparent from
        idea, to funding, to experimentation and publication. By making IntPub
        the base infrastructure layer for science, we believe this is possible.
      </p>
    </div>
  </div>

  <!--
  {% include "./_includes/partials/homepagebarrierdiv.html" %}

  <h2 class="homepage-headers">Recommended Reading (In Order)</h2>
  <ol
    class="ml-8 space-y-1 font-normal list-decimal text-md md:text-xl md:list-inside"
  >
    <li>
      <a href="./post/xyz" class="homepage-links"
        >The Tree of Knowledge Creation</a
      >
    </li>
    <li>
      <a href="./post/xyz" class="homepage-links"
        >A Base Infrastructure Layer for Research</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links">Designing for Dirty Data</a>
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links">Solving the PID Problem</a>
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Use Universities as Data Storage Devices</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Cryptographically-Secured Peer Review</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Geographically-Distributed Studies</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >Self-Healing Social Networks</a
      >
    </li>

    <li>
      <a href="./post/xyz" class="homepage-links"
        >The Advent of Knowledge Economies</a
      >
    </li>
  </ol>
-->
  {% include "./_includes/partials/homepagebarrierdiv.html" %}

  <h2 class="homepage-headers">About the Organization</h2>

  <div class="space-y-3 md:space-y-0 md:space-x-6 md:flex">
    <div class="box-one-third">
      <div class="box-header">FIND US ELSEWHERE</div>
      <ul class="p-2 ml-8 space-y-2 list-disc text-md md:text-xl">
        <li class="">
          <a href="https://github.com/intpub" class="homepage-links"
            >Github Repository</a
          >
        </li>
        <li>
          <a href="https://twitter.com/galacticpub" class="homepage-links"
            >Twitter</a
          >
        </li>
        <li>Seize the means of publication!</li>
      </ul>
    </div>

    <div class="box-one-third">
      <div class="box-header">AFFILIATED PROJECTS</div>
      <ul class="px-2 py-2 ml-8 space-y-1 text-md md:text-xl">
        <li class="list-disc">
          <a href="https://liras.org" class="homepage-links"
            >LIRAS — The Licensing Initiative for Research, Academia, and
            Science</a
          >
        </li>
        <li class="list-disc">
          <a href="https://torchofknowledge.org" class="homepage-links"
            >The Torch of Knowledge Podcast</a
          >
        </li>
      </ul>
    </div>

    <div class="box-one-third">
      <div class="box-header">SUPPORTERS</div>
      <ul class="px-2 py-2 ml-8 space-y-1 list-disc text-md md:text-xl">
        <li>
          Founded by
          <a href="https://assembl.net" class="homepage-links">Assembl Inc.</a>
        </li>
        <li>
          <strong
            >Assembl was funded in 2019 by leading blockchain incubator&nbsp;<a
              href="https://cvvc.com"
              class="homepage-links"
              >CV VC</a
            >. Visit their website to get your startup funded!
          </strong>
        </li>
      </ul>
    </div>
  </div>

  {% include "./_includes/partials/homepagebarrierdiv.html" %}

  <h2 class="homepage-headers">Stay In Touch</h2>

  <div class="space-y-3 md:space-y-0 md:space-x-6 md:flex">
    <div class="box-one-half">
      <div class="box-header">CONTACT US</div>
      <ul class="px-2 py-2 ml-8 space-y-1 list-disc text-md md:text-xl">
        <li>
          Email:
          <a class="homepage-links" href="mailto:starship@interplanetary.pub"
            >starship@interplanetary.pub</a
          >
        </li>
        <li>
          Phone:
          <a class="homepage-links" href="tel:13074594590">+1 (307) 459-4590</a>
        </li>
      </ul>
    </div>
    <div class="box-one-half">
      <div class="box-header">MAILING LIST</div>
      <form class="px-2 py-2 my-auto space-y-2 list-disc text-md md:text-xl">
        <label class="text-md md:text-lg">Please sign up for our mailing list! We'll never send you any spam (promise).</label>
        <input
          class="px-2 py-1 text-gray-900 border border-black rounded"
          placeholder="alice@stanford.edu"
        />
        <button
          class="px-2 py-1 mt-3 text-gray-900 border border-black rounded bg-gray-50 md:ml-2"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
