<footer class="w-full mx-auto mt-16 mb-12 text-center space-mono max-w-7xl">
  <small
    class="{{ 'text-white' if path == 'home' }} p-1 md:p-2 bg-gradient-to-t from-yellow-300 to-yellow-200 text-gray-900 text-md leading-7 md:leading-10"
    >Copyright © 2020 {{settings.author}}. All Rights Reserved · Made with ❤ on
    Earth ·
    <a
      href="https://github.com/interplanetarypub/website"
      class="underline"
      target="_blank"
      rel="noopener"
      >View Code on Github</a
    >
  </small>
</footer>
