<footer class="w-full py-6 mx-auto text-center space-mono">
  <div class="mx-auto text-center max-w-max">
    <small class="p-2 leading-7 text-black md:p-3 text-md md:leading-10"
      >Copyright © 2020
      <a class="underline" href="https://dar.i.ng">{{settings.author}}</a>. All
      Rights Reserved · Made with ❤ on Earth ·
      <a
        href="https://github.com/interplanetarypub/website"
        class="underline"
        target="_blank"
        rel="noopener"
        >View Code on Github</a
      >
    </small>
  </div>
</footer>
