<footer
  class="w-full py-6 mx-auto mt-16 font-sans text-center bg-gradient-to-r from-interplanetaryblue-300 via-cyan-300 to-lime-300"
>
  <small
    class="p-2 leading-7 rounded md:p-3 bg-gradient-to-t from-gray-800 to-gray-900 text-gray-50 text-md md:leading-10"
    >Copyright © 2020
    <a class="underline" href="https://dar.i.ng">{{settings.author}}</a>. All
    Rights Reserved · Made with ❤ on Earth ·
    <a
      href="https://github.com/interplanetarypub/website"
      class="underline"
      target="_blank"
      rel="noopener"
      >View Code on Github</a
    >
  </small>
</footer>
